<% set_meta_tags title: '',reverse: false %>
<div class="bg-main-img bg-cover h-screen">
  <div class="w-full h-full px-5 py-24 bg-blue-800 bg-opacity-20">
    <div class="container  mx-auto w-4/5 relative z-10 flex items-center py-16 my-24 md:my-32">
        <div class="w-full flex flex-col items-center justify-between relative z-10">
          <p class="flex flex-col items-center font-extrabold text-6xl text-center md:text-8xl text-white">
            ソシャゲイベント情報
          </p>
          <p class="flex flex-col max-w-lg text-center items-center font-extrabold text-lg my-6 text-white">
            ソシャゲイベントをまとめて簡単に
          </p>
          <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-lg font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:ring-green-200 dark:focus:ring-green-800">
            <%= link_to 'ソシャゲイベントを探す', events_path, class: "relative px-5 py-3 transition-all ease-in duration-75 rounded-md group-hover:bg-opacity-0" %>
          </button>
        </div>
    </div>
  </div>
</div>
