<footer class="text-gray-600 body-font">
  <div class="bg-gray-100">
    <div class="container flex justify-end  mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-gray-500 text-sm text-center sm:text-left">© 2022 ソシャゲ情報
        <%= link_to '利用規約', terms_path, class: "text-gray-600 ml-4"%>
        <%= link_to 'プライバシーポリシー', privacy_policy_path, class: "text-gray-600 ml-4"%>
      </p>
    </div>
  </div>
</footer>
