<nav class="fixed w-full text-white bg-blue-900 bg-opacity-80 py-3 px-4 md:px-16 md:flex md:items-center md:justify-between">
  <div class="flex justify-between">
    <%= link_to 'ソシャゲ情報', root_path, class: "flex title-font font-medium items-center m-4 md:mb-0 ml-3 text-xl hover:text-blue-300" %>
    <div class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ai ai-Search">
        <path d="M21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0 8.5 8.5 0 0 1 17 0z"/>
      </svg>
      <%= link_to 'イベント検索', events_path, class: "mr-5 ml-2 hover:text-blue-300"%>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ai ai-Envelope">
        <path d="M2 6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6z"/>
        <path d="M2 8l7.501 6.001a4 4 0 0 0 4.998 0L22 8"/>
      </svg>
      <%= link_to 'フィードバック', 'https://forms.gle/nwzrQmpWHC6dutxj9', class: "ml-2 hover:text-blue-300"%>
    </div>
  </div>
</nav>
