<div class="container mx-auto mt-24">
  <section class="mx-5 mb-10">
    <% @events.each do |event| %>
      <div class="event-card border rounded-lg my-2 shadow-lg bg-white hover:text-gray-400">
        <div class="m-2 ">
          <div class="ml-5 my-auto ">
            <h2 class="font-semibold leading-7 text-sm md:text-2xl md:leading-relaxed">
              <%= event.name %>
            </h2>
              <p class="mt-1 text-gray-500 text-sm">
                <%= l event.started_at, format: :long %> ~
              </p>
              <p class="mt-1 text-gray-500 text-sm">
                <%= l event.ended_at, format: :long %>
              </p>
          </div>
        </div>
      </div>
    <% end %>
  </section>
  <%= paginate @events%>
</div>
