<% set_meta_tags title: 'ソシャゲイベント一覧' %>
<div class="container mx-auto mt-32">
  <%= link_to 'Login with line', auth_at_provider_path(provider: :line) %>
  <section class="mx-5 mb-10">
    <%= render 'shared/search_form' %>
    <%= render @events %>
  </section>
  <div class="flex justify-center">
    <%= paginate @events%>
  </div>
</div>
