<% set_meta_tags title: 'ログイン' %>
<div class="container mx-auto mt-40">
  <div class='bg-white m-10 p-10 rounded-lg'>
    <p class="my-auto">LINEログインするとイベント通知を受け取ることができるよ！</p>
    <%= link_to auth_at_provider_path(provider: :line) do %>
      <%= image_tag 'line_login.png', size: '150x40', class: "line-login" %>
    <% end %>
  </div>
</div>
